{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>

                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Meetings with users</th>
            </tr>
            </thead>
            <tbody>
            {% for meetings in meeting %}
            <tr>

                <th scope="row">{{ meetings.id }}</th>
                <td>{{ meetings.title }}</td>
                <td>{{ meetings.description }}</td>
                {% for user in meetings.users %}
                <td>{{user.firstName }} {{ user.lastName }}</td>
                {% endfor %}

            </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="container">
{% endblock %}